### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

with open('test.txt','w') as f:
    f.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt','r') as f:
    test2 = f.readline()

In [4]:
test2

'This is a test of the emergency text system'

### 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [5]:
import csv
rows =[ ['title','author','year'],
    ['The Weirdstone of Brisingamen','Alan Garner',1960],
    ['Perdido Street Station','China Miéville',2000],
    ['Thud!','Terry Pratchett',2005],
    ['The Spellman Files','Lisa Lutz',2007],
    ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w',newline='') as file:
    writer = csv.writer(file)
    writer.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3
conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('create table books(title varchar(20),author varchar(20), year int)')
conn.commit()

### 5. Read books.csv and insert its data into the book table.

In [22]:
import csv, sqlite3

con = sqlite3.connect("books.db") # change to 'sqlite:///your_filename.db'
cur = con.cursor()


with open('books.csv','r') as fin: # `with` statement available in 2.5+
    # csv.DictReader uses first line in file for column headings by default
    dr = csv.DictReader(fin)
#     print(dict(dr)) # comma is default delimiter
    to_db = [(i['title'], i['author'],int(i['year'])) for i in dr]

cur.executemany("INSERT INTO books (title, author,year) VALUES (?, ?,?);", to_db)
con.commit()
con.close()

### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
c.execute('select title from books order by title asc')
print(c.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

### 7. From the book table, select and print all columns in the order of publication.

In [12]:
import csv, sqlite3

con = sqlite3.connect("books.db")
cur = con.cursor()

a=cur.execute("select * from books;")

print((a))
con.commit()
print(list(a))

<sqlite3.Cursor object at 0x00000198C93D5730>
[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [13]:
!pip install SQLAlchemy

Requirement already satisfied: SQLAlchemy in c:\users\manim\anaconda3\lib\site-packages (1.4.22)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\manim\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)

In [14]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db', echo = True)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [15]:
!pip install redis

Collecting redis
  Downloading redis-4.1.3-py3-none-any.whl (173 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\manim\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\manim\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\manim\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, redis
Successfully installed deprecated-1.2.13 redis-4.1.3

In [19]:
'''import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')'''

"import redis\nconn = redis.Redis()\nconn.delete('test')\nconn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})\nconn.hgetall('test')"

### 10. Increment the count field of test and print it.

In [21]:
test['fields_count']+=1
test['fields_count']

2